.background {
  background-image: url("../img/background.jpg");

  /* Full height */
 height: 100%;

 /* Center and scale the image nicely */
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.logo {
  height: 50px;
}

.background-philosophy {
  z-index: -2;
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.5;
}

.philosophy-container {
  position: relative;
  height: 100%;
}

.philosophy-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat";
}
